body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1320px;
    height: 600px;
    border-radius: 16px;

    position: relative;
    margin: 120px auto;
    text-align: center;
    font-family: 'Merriweather';
}

.banner-img {
    border-radius: 16px;
    background: #a3a3a3;
    filter: brightness(65%);

}


.header1 {
    color: #ffff;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    top: 177px;
    right: 531px;
    bottom: 383px;
    left: 530px;

}

.header2 {
    color: #ffff;
    font-size: 72px;
    font-weight: 900;
    position: absolute;
    top: 233px;
    right: 344px;
    bottom: 177px;
    left: 343px;
}

/* 65% offer area */

.offer-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    top: 120px;
    right: 466px;
    left: 468px;
    text-decoration: none;

}

.offer-detail {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    top: 48px;
    right: 8px;
    left: 6px;
    text-decoration: none;
}

.offer-body {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    top: 16px;
    text-decoration: none;
}

.ny-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* part3, welcome to mid-party */

/* .party {
    display: block;
    width: 1320px;
    height: 600px; 
   
     */

.party {
    /* width: 1320px;
    height: 600px;
    background-image: url(../resources/Vectorrr.png);
    filter: brightness(83%);
    background-repeat: no-repeat;
    margin: 120px 260px 120px 260px;
    display: flex; */
    width: 1320px;
    height: 600px;
    background: url(../resources/Vectorrr.png);
    opacity: 89%;
    background-repeat: no-repeat;
    position: absolute;
    margin: 120px 260px 120px 290px;
    display: flex;
}

.party-bod {
    display: inline;
    width: 500px;

}

.party-img {
    position: absolute;
    top: 75px;
    right: 144px;
    bottom: 78px;
    left: 844px;
}


.party-welcome {
    color: #FFF;
    font-family: Merriweather;
    font-size: 56px;
    font-weight: 900;
    top: 126px;
    right: 555px;
    bottom: 298px;
    left: 126px;
    letter-spacing: 7.04px;
    position: absolute;

}

.party-par {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    top: 326px;
    right: 496px;
    bottom: 214px;
    left: 126px;
    position: absolute;
    position: relative;
}

.party-btn {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    top: 434px;
    right: 1060px;
    bottom: 142px;
    left: 160px;
    position: absolute;
    background: none;
    border: none;

}

.time-plc {
    width: 1320px;
    height: 482px;
    border: 1px solid black;
    margin: 820px 380px 214px 285px;
    text-align: center;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 11px;
    /* position: static; */
}

.para-time {
    color: #070211;
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    top: 100px 386px 214px 385px;
}

/* place date and time */

.pdt {
    color: #F00;
    ;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    padding: 100px 386px 214px 385px;
}

.pdt-btn {
    /* border: 316px 577px 110px 576px; */
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    color: #ffff;
    border: 0;
}

/* the three column section */

#id{
    width: 900px;
    margin: 0, auto;
}

.column {
   
}



.new-offer-red {
    color: #F00;
    text-align: justify;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.new-offer-bl {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;

}

.new-offer-text {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;  
    font-weight: 400;
}